body{
    font-family: 'Poppins', sans-serif;
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: center;
    margin: 30px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 0px black;
}

h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 30px;
    padding: 15px 15px;

    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 0px black;
}

label{
    margin-top: 5px;
    align-self: flex-start;
    margin-left: 10px;
    font-weight: bold;
}

input{
    display: block;
    width: 95%;
    padding: 6px 20px;
    margin: 10px auto;
    border-radius: 4px;
    box-sizing: border-box;
}

h3{
    margin: 10px;
    text-align: center;
    font-size: 15px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    padding: 2px 20px;
    margin: 10px auto;
    border: 1px dashed black;
    border-radius: 15px;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 15px;

    padding: 5px;
    margin: auto 30px;
}