body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 390px;
    min-height: 590px;
    margin: 30px auto;
    padding: 0;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 0px black;
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
}

h2{
    margin: 5px;
    text-align: center;
}



a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 0px black;
    font-size: 25px;
    height: 60px
}

