<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/css/ejercicio1.css">
    <title>Ejercicio 1</title>
</head>
<body>
<header><h1>Ejercicio número 1</h1></header>

<h2>Formulario de Notas</h2>

<form method="POST">
    <label for="nota1">Nota 1:</label>
    <input type="number" name="nota1" min="10" max="70" required>

    <label for="nota2">Nota 2:</label>
    <input type="number" name="nota2" min="10" max="70" required>

    <label for="nota3">Nota 3:</label>
    <input type="number" name="nota3" min="10" max="70" required>

    <label for="asistencia">Asistencia ( % )</label>
    <input type ="number" name="asistencia" min="0" max="100" required>

    <input type="submit" value="Enviar">

    <div>
    {% if p is not none %}
        <h4>Promedio: {{ p }}</h4>

        {% if p >= 40 %}
            <h4>Aprobado!</h4>
        {% else %}
            <h4>Reprobado :(</h4>
        {% endif %}
    {% endif %}
    </div>
</form>


</body>
</html>