<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/css/ejercicio2.css">
    <title>Ejercicio 2</title>
</head>
<body>
<header><h1>Ejercicio número 2</h1></header>

<h2>Comparador longitud de nombres</h2>


<form method="POST">
    <label for="nombre1">Nombre 1: </label>
    <input type="text" name="nombre1" pattern="[A-Za-z]+" title="Solo se permiten letras" maxlength="30" required>

    <label for="nombre2">Nombre 2: </label>
    <input type="text" name="nombre2" pattern="[A-Za-z]+" title="Solo se permiten letras" maxlength="30" required>

    <label for="nombre3">Nombre 3: </label>
    <input type="text" name="nombre3" pattern="[A-Za-z]+" title="Solo se permiten letras" maxlength="30" required>
    <input type="submit" value="Enviar">

<!--
loop.index es un contador
empates|length - 1 calculo la penultima posicion y agrego " Y "
sino es loop.last (ultimo valor) ni el penultimo ⬆️ agrego una ,

-->
<div>
    {% if empates %}
            {% if empates|length > 1 %}
                <h3>Estos {{ empates|length }} nombres tienen un empate<br><br>
                    {% for nombre in empates %}
                        {{ nombre }}
                        <br>
                    {% endfor %}
                </h3>

                <h3>cada uno tiene: {{ largo_max }} caracteres</h3>
            {% else %}
                <h3>El nombre con más cantidad de caracteres es: <br>{{ nombre_max }} </h3>
                <h3>El nombre tiene: {{ largo_max }} caracteres</h3>
            {% endif %}
    {% endif %}
 </div>
</form>
<a href="/">Volver al menú principal</a>
</body>
</html>