<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Menu Principal</title>
</head>
<body>
<header>
    <h1>Bienvenido a la evaluacion n°3 de Programacion Web</h1>
    <h2>Alumno: Matias Arquero</h2>
    <h2>Profesor: Felipe Flores</h2>
</header>

<nav>
<a href="/ejercicio1">Ejercicio n1</a>
<a href="/ejercicio2">Ejercicio n2</a>
</nav>

</body>
</html>